<h1><%= @bar.name %></h1>

<p>
  <%= @bar.happy_hours %> <br>
  <%= @bar.hours %> <br>
  <%= @bar.address %> <br>
  <%= @bar.city %>, <%= @bar.state %>, <%= @bar.zipcode %> <br>
  <%= @bar.category %> <br>
  <a href=<%= @bar.website %>><%= @bar.website %></a> <br>
</p>
